#main{
padding:10px;
margin:10px;
}
input{ margin:0 10px 0 0!important;}
#main{ color:#555; font-size:14px; line-height:1.5; font-family:microsoft yahei;}
ul{margin-left:44px; list-style-type:decimal; padding-top:10px;}
li{margin-bottom:10px;}
h1{ font-size:30px; line-height:3;}
h2{ font-size:20px; line-height:3;}
p{ line-height:2;}